@font-face{
  font-family: 'GilroyRegular';
  src:local('GilroyRegular'), url(component/fonts/Gilroy-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face{
  font-family: 'GilroyMedium';
  src:local('GilroyMedium'), url(component/fonts/Gilroy-Medium.ttf) format('truetype');
  font-display: swap;
}
@font-face{
  font-family: 'GilroyBold';
  src:local('GilroyBold'), url(component/fonts/Gilroy-Bold.ttf) format('truetype');
  font-display: swap;
}
* {
  font-family: GilroyRegular !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 700px;
  min-width: 320px;
  margin:auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  display: flex;
  align-items: center;
  margin-left: 10px;

}
.logo img{
  width: 40px;
}
.logo h3{
  padding-left: 4px;
  font-size: 20px;
}
nav{
  /*background-color: pink;*/

}
.wrapper{
  padding: 10px;
}


.time-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.emi-monthly{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #d52525;
}
.emi-monthly p{
  color: #808080FF;
  font-size: 18px;
  font-weight: 600;
}
.emi-monthly div{
  font-size: 18px;
  font-weight: 600;
 overflow: auto;
}
.emi-summary-info{
  border: 1px solid grey;
  background-color: #fdf0f0;

}
.emi-summary-info-head-txt{
  text-align: center;
  line-height: 2px;

}
.emi-summary-info-txt div{
  display: flex;
  align-items: center;
  justify-content: space-between;
 color: #808080FF;;
  padding: 8px;
  box-sizing: border-box;
}
.emi-summary-info-txt{
  flex-basis: 30%;
}
.more-detail-btn{
  text-transform: none!important;
  font-weight: 500!important;


}
.btn-section{
  text-align: center;
  padding: 30px;
}

.text-field{
  margin-top: 20px!important;
  background-color: #fdf0f0;
}
.dialog-wrapper{
  padding: 10px 20px;
}
.table-head{

 background-color: #f8c4c4;
  width: 100%;
}
.table-head-cell{
  white-space: pre!important;
  font-weight: 700;

}

@media only screen and (max-width: 425px){
  .text-field{
    flex-basis: 40%;
  }

}